<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>RecipeRover</display-name>
	<welcome-file-list>
		<welcome-file>indexMain.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		 
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SpiceDropdownServlet</display-name>
		<servlet-name>SpiceDropdownServlet</servlet-name>
		<servlet-class>controller.SpiceDropdownServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpiceDropdownServlet</servlet-name>
		<url-pattern>/spicedropdown</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<description></description>
		<display-name>fruitDropdownServlet</display-name>
		<servlet-name>fruitDropdownServlet</servlet-name>
		<servlet-class>checkBoxList.fruitDropdownServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitDropdownServlet</servlet-name>
		<url-pattern>/fruitdropdown</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>VegetablesServlet</display-name>
		<servlet-name>VegetablesServlet</servlet-name>
		<servlet-class>checkBoxList.VegetablesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VegetablesServlet</servlet-name>
		<url-pattern>/vegetablesdropdown</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>SearchServlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>controller.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/searchservlet</url-pattern>
	</servlet-mapping>
	
 		<servlet>
		<description></description>
		<display-name>ReportSearchByNameServlet</display-name>
		<servlet-name>ReportSearchByNameServlet</servlet-name>
		<servlet-class>controller.ReportSearchByNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportSearchByNameServlet</servlet-name>
		<url-pattern>/reportsearchbynameservlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>ReportSearchByDate</display-name>
		<servlet-name>ReportSearchByDate</servlet-name>
		<servlet-class>controller.ReportSearchByDate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportSearchByDate</servlet-name>
		<url-pattern>/reportsearchbydate</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<description></description>
		<display-name>SavedRecipeServlet</display-name>
		<servlet-name>SavedRecipeServlet</servlet-name>
		<servlet-class>controller.SavedRecipeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavedRecipeServlet</servlet-name>
		<url-pattern>/savedrecipeservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
</web-app>